body{
    background-color:  #0fcf90;
}
h1{
    color: #b9105e;
}
h2{
    color: orange;
}
ul>li{
    color: cornflowerblue;
}
div>p{
    background-color: yellow;
}
input{
    border: 3px solid red;
}
.hello{
    background-color: white;
}
#special{
    border: 2px solid rgb(75, 75, 202);
}
div>p{
    font-size: 25px;
}
input[type=text]{
    background-color: gray;
}
div:nth-of-type(3){
    background-color: pink;
}
div :nth-of-type(3)>:nth-of-type(2){
    border: 5px solid white;
}
div em {
    color: white;
    font-size: 25px;
}
input[type=checkbox]{
    margin-left: 50px;
}
label{
    text-transform: uppercase;
}
#special::first-letter{
    color: green ;
    font-size: 100px;
}
h1 :hover{
    color: blue;

}
a:visited{
    color: gray;
}
